[submodule "entangled"]
	path = entangled
	url = https://github.com/iotaledger/entangled.git
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "XKCP"]
	path = XKCP
	url = https://github.com/XKCP/XKCP.git
